.payButton {
    color: white;
    font-size: 25px;
    background: #ff3300;
    border-radius: 4px;
    margin-bottom: 6px;
    margin-top: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.container-guest {
    opacity: 0.9;
    font-size: 20px;
    color: black;
    font-weight: normal;
    background-color: white;
    font-family: Dosis;
    padding: 0px;
    margin-top: 16px;
}
