@import url('https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans');

.indexBackground {
    background: url("/Image/wallpaper.jpg") no-repeat fixed 100%;
    background-size: cover;
}

.container {
    opacity: 0.9;
    font-size: 20px;
    color: white;
    font-weight: normal;
    background-color: black;
    font-family: Dosis;
    padding: 0px;
    margin-top: 16px;
}

.heading {
    margin-top: 90px;
}

btn.btn-primary:active {
    background-color: grey !important;
}

label {
    font-size: 20px;
    font-weight: normal;
    margin-top: 6px;
}

.datePicker {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background-color: #fff;
    color: grey;
    font-size: 16px;
}

.pageButton {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 10px;
    max-height: 80px;
    color: white;
    font-size: 25px;
    background: #ff3300;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.panelButton {
    color: white;
    font-size: 25px;
    background: #ff3300;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: black;
}

.anchorLink {
    color: black;
}

h4 {
    margin-bottom: 60px;
}

.panel-pricing {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

    .panel-pricing:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }

    .panel-pricing .panel-heading {
        color: white;
        border-radius: 4px;
        background-color: black;
        margin-top: 4px;
    }

.panel {
    margin-top: 6px;
    border: 1px solid !important;
    border-color: white;
}

.panel-pricing .panel-body {
    font-size: 30px;
    margin: 0px;
    background-color: black;
    border-bottom: 1px solid white
}

.panel-footer {
    background-color: black !important;
}
